head {
  background-color: black;
}
body {
  background-color: black;
}
h1 {
  color: white;
  text-decoration: underline;
}
h2 {
  color: white;
  font-style: italic;
}
h3 {
  color: white;
  text-decoration:underline;
  font-weight: bold;
}
p {
  color: magenta;
}
