h1 {
  color: blue;
  text-decoration: underline;
}
p {
  color: black;
}
h2 {
  color: red;
}
h4 {
	text-decoration: underline;
}
body {
  background-color: purple;
}
  table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
