h1 {
  color: white;
  background-color: black;
  text-decoration: underline;
}
p {
  color: black;
}
h2 {
  color: black;
  text-decoration:italic;
}
h4 {
	text-decoration: underline;
}
body {
  background-color: hotpink;
}
  table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
