h1 {
  color: white;
  background-color: black;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  color: black;
  font-style: italic;
}
h3 {
  color: black;
  text-decoration:underline;
}
p {
  color: black;
}
h4 {
	text-decoration: underline;
}
body {
  background-color: hotpink;
}
  table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
